/* .galleryList {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 10%;
} */

.fileSelectorDiv {
    display: flex;
}

.inputDiv {
    width: 80%;
}

.previewDiv {
    width: 20%;
}

.imagePreview {
    width:100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.fileEditorDiv {
    display: flex;
    width: 100%;
    height: 25em;
}

.imageDiv {
    border: solid black 1px;
    width: 80%;
}

.filtersDiv {
    border: solid black 1px;
    width: 20%;
}

.image {
    width:80%;
    height: 80%;
}
