/* .galleryList {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 10%;
} */

.fileSelectorDiv {
    display: flex;
}

.inputDiv {
    width: 80%;
}

.previewDiv {
    width: 20%;
}

.imagePreview {
    width:100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.fileEditorDiv {
    display: flex;
    width: 100%;
    height: 28em;
}

.filtersDiv {
    border: solid black 1px;
    width: 12em;
}

.imageDiv {
    display: flex;
    justify-content: center;
    /* border: solid black 1px; */
    width: 80%;
    height: 100%;
    
}

.image {
    width:80%;
    height: 100%;
    /* background-size: contain;
    background-repeat: no-repeat; */
    /* border: solid black 1px; */
}

.continueButtonDisabled, .continueButtonEnabled, .goBackButton, .saveButton {
    all: unset;
    font-size: 1.2em;
    font-weight: 900;
}

.continueButtonDisabled {
    color: grey;
}

.continueButtonEnabled:hover {
    cursor: pointer;
    color: green;
}

/* .optionsDiv {
    border: solid black 1px;
} */

.goBackButton:hover {
    cursor: pointer;
    color: blue;
}

.saveButton:hover {
    cursor: pointer;
    color: #4ABDAC;
}

.filtersList {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 10em;
    height: 90%;
    padding-right: 0;
}

.filterButton {
    height: 16%;
    cursor: pointer;
    /* border-bottom: solid 1px green;
    border-width: 10%;
    border-left: 10%;
    transition: 150ms; */
}


.filterButton:hover, .filterButton:focus {
    background: #A3F0EB;
}

.filterButton.active {
    background-color: #4ABDAC;
}

.filterButton::after {
    content: '';
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 0;
    height: 1px;
}

