.main {
    display: flex;
    height: 35em;
    background-image: url('https://static.vecteezy.com/system/resources/previews/027/937/570/large_2x/colorful-abstract-painted-background-oil-painting-on-canvas-fragment-of-artwork-abstract-painting-background-or-texture-ai-generated-free-photo.jpg');
}

.authDiv {
    width: 40%;
    height: 100%;
}

.welcomeDiv {
    width: 60%;
    /* height: 100%; */
    background-image: url('../../static/watercolor-oil-painting-background_52683-106439.avif');
    background-repeat: no-repeat;
    background-size: cover;
    color: #00308F;
}

.paragraph {
    width: 60%;
    font-weight: 500;   
}

.learnMore:hover {
    cursor: pointer;
}