.main {
    display: flex;
    border: solid black 1px;
    height: 15em;
    width:100%;
}

.fileSelectorDiv {
    /* display: flex; */
    /* border: solid black 1px; */
    width: 80%;
}

.resultDiv {
    /* border: solid black 1px; */
    width: 20%;
}


.resultImg {
    width: 60%;
    height: 60%;
    margin-bottom: 0;
}

.message {
    margin-top: 0;
    margin-right: 5%;   
}

.saveButton {
    all: unset;
    font-size: 1.2em;
    font-weight: 900;
}

.saveButton:hover {
    cursor: pointer;
    color: #4ABDAC;
}