.containerLight {
    color: black;
}
.containerDark {
    color: white;
}

.main {
    display: flex;
    /* border: solid black 1px; */
    height: 20em;
}
/* .sideBar {
    border: solid black 1px;
} */

.options {
    border: solid black 2px;
}

.optionLight.active {
    background-color: #4ABDAC;
}

.optionDark.active {
    background-color: #4257A2;
}

.optionLight, .optionDark {
    cursor: pointer;
    font-weight: 600;
    width: 70%;
    margin-left: 22%;
    margin-bottom: 10%;
    border-radius: 50px;
    padding: 3%;
}
.optionLight:hover {
    background: #4ABDAC;
}

.optionDark:hover {
    background: #4257A2;
}

.showedOption {
    /* border: solid black 1px; */
    width: 60%;
}

/* .optionTitle {} */

.photoDiv {
    width: 60%;
}

@media screen and (max-width: 519px) {
    .photoDiv {
        width: 100%;
    }   
}

.photo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; /* Center the background image */
    height: 50%;
    width: 100%;
}