.main {
    display: flex;
    justify-content: flex-start;
    /* border: solid black 1px; */
    width: 100%;
    height: 30em;
}

.function {
    display: flex;
    /* border: solid purple 1px; */
    width: 80%;
    /* padding: 5%; */
    left: 0;
}

.functionTitleDiv {
    /* border: solid black 1px; */
    width: 33%;
}

@media screen and (max-width: 690px) {
    .h1 {
        font-size: 100%;
    }
}

.functionImageDiv {
    /* border: solid black 1px; */
    width: 33%;
    background-size: contain;
    background-repeat: no-repeat;
}

.functionPropertiesDiv {
    /* border: solid black 1px; */
    width: 33%;
}

.options {
    border: solid black 2px;
    width: 30%;
    /* padding: 5%; */
}

.optionEach {
    display: flex;
    width: 100%;
}

.optionEach:hover {
    cursor: pointer;
    background: #4ABDAC;
}

.optionTitle {
    display: flex;
    /* border: solid black 1px; */
    width: 40%;
}

@media screen and (max-width: 604px) {
    .h3 {
        font-size: 90%;
    }
}

.optionImage {
    display: flex;
    border-left: solid black 1px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
}

.linkDark {
    color: white;
}
.linkLight {
    color: black;
}

.list {
    list-style: none;
}


.startButton {
    font-weight: 600;
    width: 50%;
    margin-left: 22%;
}
.startButton:hover {
    cursor: pointer;
    background: #4ABDAC;
}