.headerDark, .headerLight {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
}
.headerDark {
    background: #393939;
    color: white;
    border: solid black 2px;
}
.headerLight {
    background: #7A9D96;
    color: black;
    border: solid black 2px;
}

.logo {
    display: flex;
    align-items: center;
    width: 8%;
    height:80%;
    /* border: solid black 1px; */
    margin-right: 1%;
}

.logoImageLight, .logoImageDark {
    background-size: contain;
    background-repeat: no-repeat;
}
.logoImageLight {
    background-image: url('../../static/logoLight.png');
    width: 60%;
    height:60%;
}

.logoImageDark {
    background-image: url('../../static/logoDark.png');
    width: 70%;
    height:70%;
}

.logoName {
    font-weight: 300;
    font-family: cursive;
}

.headerLinks {
    display: flex;
    /* border: solid white 1px; */
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    margin-left: 30%;
    flex-wrap: wrap;
}

.headerLinkLight {
    color: black;
    margin-left: 15%;
}
.headerLinkDark {
    color: white;
    margin-left: 15%;
}

.dropdownContainer {
    
    width: 10em;
    /* border: solid white 1px; */
}

.dropdown {
    margin-top: 1em;
    background: white;
    color: black;
    height: auto;
    width: 120%;
    padding: 1em;
    /* border: solid black 1px; */
    border-radius: 20px;
}

.dropdownPhoto {
    border: solid black 1px;
    border-radius: 50%;
    width: 8em;
    height: 4.95em;
    margin-left: 10%;
}

.dropdownLabel {
    display: flex;
    justify-content: center;
}

.dropdownButton {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: solid white 1px;
    border-radius: 50px;
    height: 20%;
    width: 100%;
    /* margin-left: 2em; */
}
.dropdownButton:hover {
    opacity: 0.7;
}

.dropdownButton {
    border-radius: 20px;
}
.dropdownButton:hover {
    cursor: pointer;
    border-color: green;
}

.logoutButton {
    text-align: center;
}
.logoutButton:hover {
    cursor: pointer;
    font-weight: 700;
}