/* .pageContainer {
    height: 100%;
} */

.groupList {
    border: solid black 1px;
    height: 20em;
}

.group {
    border: solid purple 1px;
    height: 100%;
}

.itemList {
    display: flex;
    justify-content: flex-start;
    border: solid blue 1px;
    height: 100%;
    width: 100%; 
}

.image {
    width: 20%;
    height: 40%;
    background-size: contain;
    background-repeat: no-repeat;
}